* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.image {
  max-width: 100%;
  padding: 15px;
}

.image img {
  max-height: 200px;
  width: auto;
  margin: 0 auto;
  display: block;
}
